body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Bagian ini diperbarui */
.love .block-heart {
    width: 40px;
    height: 40px;
    position: absolute;
     box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.love .block-heart::after {
    content: "❤️";
    font-size: 30px;
}

.text-love {
    margin-top: 450px;
    font-family: 'Arial', sans-serif;
    color: #ff4d6d;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 2s;
}

@keyframes fadeIn {
    to { opacity: 1; }
}